#bokchoy { 
    display: inline-block; 
    position: absolute;
}

.imgbox {
    display: grid;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.center-fit {
    max-width: 80%;
    max-height: 100vh;
    margin: auto;
}