body {
  margin: 0;
  padding: 0;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 16px; font-style: normal; 
  font-variant: normal; 
  font-weight: 500; 
  line-height: 20px;
}

input{
  text-align: center;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 12px; font-style: normal; 
  font-variant: normal; 
  font-weight: 500; 
  line-height: 20px;
  width: 120%;
}

#nov22nd{
  color: #6EB1CC;
}

#credits{
  color:#4953CC;
}
#about{
  color: #87B352;
}

#remain{
  color: #FFBDC9;
}

.imgbox {
    display: grid;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.center-fit {
    max-width: 90%;
    max-height: 100vh;
    margin: auto;
}

.click-text{
  max-width: 90%;
  max-height: 100vh;
  margin: auto;
  display: inline-block;
  cursor: pointer;
}

.changing-text{
  max-width: 90%;
  max-height: 100vh;
  margin: auto;
  font-size: 40px; font-style: normal; 
  line-height: 90px; /* 4px +12px + 4px */
}

button.center-fit{
  background:none;
  border-radius: 6px; 
  border: 2px 
  solid #6EB1CC;
  color: #6EB1CC;
  cursor: pointer;

}
.center-fit2 {
    max-width: 90%;
    max-height: 100vh;
    margin: auto;
}
button.center-fit2{
  background:none;
  border-radius: 6px; 
  border: 2px 
  solid #4953CC;
  color: #4953CC;
  cursor: pointer;

}


#memberbutton{
  text-align: center;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 16px; font-style: normal; 
  font-variant: normal; 
  font-weight: 500; 
  line-height: 20px;
}