body {
  margin: 0;
  padding: 0;
  font-family: 'Futura', Sans-serif;
  color: #87B352;
}

#leek { 
    display: inline-block; 
    position: absolute;
    background-color: #76E8E1;   
    height: 25%;
    width: 25%;
    top: 1px;
    right: 1px;

}


.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.imgbox {
    display: grid;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}