#bokchoy { 
    display: inline-block; 
    position: absolute;
    background-color: #E8BF76;   

}

.container {
  height: 200px;
  width: 200px;
  position:relative; 
}    
/*.container:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,255,255, 0.5);
  transition: all .3s linear;
}*/

.imgbox {
    display: grid;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.center-fit {
  max-width: 90%;
  max-height: 100vh;
  margin: auto;
  text-align: center;
}

#memberbutton{
  text-align: center;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 12px; font-style: normal; 
  font-variant: normal; 
  font-weight: 500; 
  line-height: 20px;
}


.bottom-fit {

    position: fixed; 
    background:gray; 
    width:100%;
    bottom:;
}