#bokchoy { 
    display: inline-block; 
    position: absolute;
    background-color: #E8BF76;   
}

body {
  margin: 0;
  padding: 0;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 16px; font-style: normal; 
  font-variant: normal; 
  font-weight: 500; 
  line-height: 20px;
  color: #573231;
}


input{
  text-align: center;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 15px; font-style: normal; 
  font-variant: normal; 
  font-weight: 500; 
  line-height: 20px;
  width: 120%;
}

.imgbox {
    display: grid;
    height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.center-fit {
    max-width: 90%;
    max-height: 100vh;
    margin: auto;

}

.click-text{
  max-width: 90%;
  max-height: 100vh;
  margin: auto;
  display: inline-block;
  cursor: pointer;
}

input.center-fit{
  background:none;
  border-radius: 6px; 
  border: 2px 
  solid #573231;
  color: #573231;

}
